.b-list.mod_info {
    }

.b-list.mod_info .b-list__item {
    width: 30%;
    margin-bottom: 50px;
    }
    .b-list.mod_info .b-list__icon {
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
        }


@media (max-width: 980px) {
    .b-list.mod_info .b-list__item {
        width: 47%;
        }
}

@media (max-width: 700px) {
    .b-list.mod_info .b-list__item {
        width: 100%;
        }
}