.b-section {
    width: 100%;
    }
    .b-section-h {
        padding: 0 20px;
        position: relative;
        }

@media (min-width: 1360px) {
    .b-section-h {
        width: 1360px;
        margin: 0 auto;
        }
}

.b-section-h.mod_tracks {
    display: flex;
    flex-direction: row;
}