
/* b-ui */
.b-ui {

    }

/* Margin 40 */
.b-ui.margin_40 {
    margin-bottom: 40px;
    }

.b-ui.margin_30 {
    margin-bottom: 30px;
    }

.b-ui.margin_20 {
    margin-bottom: 20px;
    }
.b-ui.margin_10 {
    margin-bottom: 10px;
    }

.b-ui.margin_5 {
    margin-bottom: 5px;
}

.b-ui.align_center {
    text-align: center;
    }
