/* reset */
html, body, div, span, object,
iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, figure,
footer, header, hgroup, menu, nav,
section, menu, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
body {
    font: 13px/1.428 'Montserrat', sans-serif;
    font-weight: 400;
    color: #161413;
    background: #fff;
    text-align: left;
    cursor: default;
    position: relative;
    overflow-x: auto;
    overflow-y: scroll;

}

/* common */
html,
body {
    height: 100%;
}
html {
}
body.valign_center {
    display: table;
    width: 100%;
    height: 100%;
}
body.valign_center .b-page {
    display: table-row;
    width: auto;
    min-width: 980px;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* normalize */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
}
caption, td, th {
    vertical-align: top;
}
dl, ul, ol {

}
ul li,
ol li {
    vertical-align: top;
    list-style: none;
}
a img {
    border: 0;
}
blockquote, q {
    quotes: '' '';
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

/* typography */
ins {
    text-decoration: underline;
}
del {
    text-decoration: line-through;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
small {

}
sup, sub {
    vertical-align: baseline;
    position: relative;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
i {
    font-style: italic;
}
b {
    font-weight: bold;
}

a {
    color: #ff5743;
    text-decoration: underline;
    transition: color .3s ease;
}
a:hover {
    color: #ffa242;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-item {
    flex: 1 0 auto;
}
.collapsed {
    height: 1000px;
    overflow: hidden;
    transition: height 0.15s ease-out;
}
.expanded {
    height: auto;
    transition: height 0.15s ease-in;
}
.button-hidden {
    display: none;
}

.b-list.mod_info.eveningSection .b-list__item.icon .b-list__icon {
    width: 104px;
    height: 104px;
}
.b-list.mod_info.eveningSection .b-list__item.icon {
    margin-bottom: 0px;
}

@media (min-width: 700px) {
    .b-list.mod_info.eveningSection {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .b-list.mod_info.eveningSection .b-list__item.icon {
        width: 20%;
    }
    .b-list.mod_info.eveningSection .b-list__item.icon .b-list__icon {
        margin-bottom: 0px;
    }
    .b-list.mod_info.eveningSection .b-list__item.description {
        width: 80%;
        text-align: left;
        margin-bottom: 0px;
    }
}
.b-list.mod_info.eveningSection .b-list__item.description .b-font.size_18.margin{
    margin-bottom: 10px;
}
.eveningSectionTitle {
    margin-top: 30px;
}
#hideButton {
    margin: 20px auto 0 auto;
    width:50px;
}
#hideButton.more #lessButton{
    display: none;
}
#hideButton.less #moreButton{
    display: none;
}

.b-floatButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ff5743;
    color: white;
    cursor: pointer;
    padding: 18px 13px;
    border-radius: 25px;
}

.b-floatButton:hover {
    background-color: #ffa242;
}