/* b-topic */
.b-topic {
    position: relative;
    padding: 25px;
    text-align: left;
    height: 230px;
    margin: 10px;
    }
    .b-topic__title {
        height: 54px;
        text-transform: uppercase;
        }
    .b-topic__format {
        position: absolute;
        bottom: 25px;
        right: 25px;
        }
    .b-topic:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 4px solid #2f2f32;
        content: '';
        transition: all 0.25s ease-out;
        }
        .b-topic:hover:before {
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
            border-color: #525257;
            }
